@import './resets', './variables';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: $headerFont;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    padding: 1.5rem;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;

    h1 {
        margin-left: 170px;
        font-family: $headerFont;
        font-weight: map-get($font-weights, bold);
        font-size: 2.5rem;
    }



    label {
        width: 70px;
        height: 30px;
        position: relative;
        display: block;
        background-color: white;
        border-radius: 15px;
    }


}

main {
    flex-grow: 1;
    padding: 3rem;
    color: whitesmoke;
    

    .component-card {
        // background-image: linear-gradient(180deg, $purple, $mediumpurple);
        height: 500px;
        width: 400px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 20px;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        background-color: $circlegray;

        .temperature {
            font-size: 1.5rem;
            font-weight: map-get($font-weights, bold);
        }

        .weather {
            border-radius: 100%;
            
            // background-image: linear-gradient(180deg, $mediumpurple, $purple);

            .weather-picture {
                height: 200px;
            }
        }

        p {
            margin: 0;
            color: whitesmoke;
        }
    }
}

footer {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: $black;
    color: whitesmoke;

    .copy {
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
}