@import './resets', './variables';

@mixin spin($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keySpin() {
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: $headerFont;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    padding: 1.5rem;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-family: $headerFont;
        font-weight: map-get($font-weights, bold);
        font-size: 2.5rem;
    }

    input {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked + label:after {
            content: "°F";
            left: 43px;
            transform: translateX(-5%);
            transition: all .3s ease;
        }
    }

    label {
        width: 80px;
        height: 40px;
        position: relative;
        display: block;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 0px 5px 5px inset rgba(0, 0, 0, 0.5);
        font-size: 24px;

        &:after {
            content: "°C";
            width: 35px;
            height: 35px;
            position: absolute;
            top: 4px;
            left: 3px;
            border-radius: 180px;
            background-image: linear-gradient(180deg, lighten($purple, 20%), $mediumpurple);
            transition: all .3s ease;
        }
    }


}

main {
    flex-grow: 1;
    padding: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    .component-card {
        // background-image: linear-gradient(180deg, $purple, $mediumpurple);
        height: 65%;
        width: 350px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 20px;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        background-color: $circlegray;

        .temperature {
            font-size: 1.5rem;
            font-weight: map-get($font-weights, bold);
        }

        .weather {
            border-radius: 100%;
            
            .weather-picture {
                height: 150px;
            }

            .spin {
                @include keySpin();
                animation: rotate 10s linear infinite;
            }
            
        }

        p {
            margin: 0;
            color: whitesmoke;
        }
    }

    .forecast-bar {
        display: flex;
        height: 35%;
        justify-content: space-around;

        .forecast-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            gap: 10px;
            height: 260px;
            width: 250px;
            background-color: $circlegray;
            text-align: center;

            .forecast-picture {
                height: 100px;
                width: 100px;
            }

            .spin {
                @include keySpin();
                animation: rotate 10s linear infinite;
            }
            
            .forecast-temp {
                font-size: 18px;
                font-family: $pFont;
            }
            
        }
    }
}

footer {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: $black;
    color: whitesmoke;

    .copy {
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
}