@import './resets', './variables';

@mixin spin($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keySpin() {
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin flexCenter($direction, $align-name, $justify-name) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-name;
    justify-content: $justify-name;
}

body {
    height: 100vh;
    width: 100%;
    font-family: $headerFont;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flexCenter(column, none, center)
}

header {
    width: 100%;
    // padding: 1.5rem;
    padding-top: 1.5rem;
    color: whitesmoke;
    @include flexCenter(row, center, space-between);

    h1 {
        font-family: $headerFont;
        font-weight: map-get($font-weights, bold);
        font-size: 3rem;
        margin-left: 200px;
        // text-decoration: underline;
    }

    span {
        gap: 50px;
        margin-right: 200px;
        @include flexCenter(row, center, center)
    }

    .searchbox input {
        padding: 10px;
        background-color:transparent;
        color: whitesmoke;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        font-weight: map-get($font-weights, bold);

        &:focus {
            background-color: hsla(0, 0, 0, 0.3);
            color: whitesmoke;
        }
    }

    .toggle-box input {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked + label:after {
            content: "°F";
            left: 43px;
            transform: translateX(-5%);
            transition: all .3s ease;
            background-image: linear-gradient($currentcardcolor, $forecastcardcolor);
        }
    }

    label {
        width: 80px;
        height: 40px;
        position: relative;
        display: block;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 0px 5px 5px inset rgba(0, 0, 0, 0.5);
        font-size: 24px;

        &:after {
            content: "°C";
            width: 35px;
            height: 35px;
            position: absolute;
            top: 4px;
            left: 3px;
            border-radius: 180px;
            background-image: linear-gradient($forecastcardcolor, $currentcardcolor);
            transition: all .3s ease;
        }
    }


}

main {
    flex-grow: 1;
    padding: 2rem;
    color: whitesmoke;
    gap: 10px;
    @include flexCenter(row, center, space-around);
    

    .component-card {
        height: 500px;
        width: 400px;
        border-radius: 20px;
        gap: 20px;
        font-size: 1.5rem;
        text-align: center;
        // background-color: $currentcardcolor;
        @include flexCenter(column, center, space-around);

        .temperature {
            font-size: 1.5rem;
            font-weight: map-get($font-weights, bold);
        }

        .weather {
            border-radius: 100%;
            
            .weather-picture {
                height: 150px;
            }

            .spin {
                @include keySpin();
                animation: rotate 10s linear infinite;
            }
            
        }

        p {
            margin: 0;
            color: whitesmoke;
        }
    }

    .forecast-bar {
        // background-color: $forecastcardcolor;
        width: 30%;
        border-radius: 20px;
        @include flexCenter(column, center, center);

        .forecast-card {
            padding: 15px;
            gap: 10px;
            text-align: center;
            @include flexCenter(column, center, center);

            .forecast-picture {
                height: 100px;
                width: 100px;
            }

            .spin {
                @include keySpin();
                animation: rotate 10s linear infinite;
            }
            
            .forecast-temp {
                font-size: 18px;
                font-family: $pFont;
            }
            
        }
    }
}

footer {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: $black;
    color: whitesmoke;

    .copy {
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
}